@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);#series {
  background-color: #1b1c1b;
}
#series .current-series {
  position: absolute;
  top: 515px;
  left: 100px;
}
#series .current-series :hover {
  box-shadow: 7px 7px;
}
#series .current-series h2 {
  background-color: #377ae3;
  padding: 15px;
  color: white;
}
#series .main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
#series .main-container .card {
  padding: 20px;
  flex-basis: calc(16.6666666667% - 40px);
  background-color: #121212;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}
#series .main-container .card a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
}
#series .main-container .card a img {
  border-radius: 15px;
}
#series .main-container .card a p {
  margin-top: 15px;
  font-size: 1.1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.upper-header {
  height: 20px;
  width: 100%;
  padding: 5px;
  background-color: #377ae3;
  display: flex;
  justify-content: end;
  align-items: center;
}
.upper-header a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  padding-right: 200px;
}

header {
  display: flex;
  justify-content: center;
  padding: 5px;
}
header img {
  height: 80px;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 100px;
}
header ul li {
  margin: 13px;
  font-size: 1.1em;
}
header ul li input {
  margin-left: 50px;
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid #377ae3;
  width: 130px;
  color: black;
}
header ul a {
  text-decoration: none;
  color: black;
}
header ul a:hover {
  color: #377ae3;
}

.jumbotron {
  height: 400px;
  width: 100%;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

.serie-wrapper {
  display: flex;
  padding: 50px;
  justify-content: center;
}
.serie-wrapper .container-left {
  width: 40%;
  padding-right: 50px;
}
.serie-wrapper .container-left .contenitore-price {
  display: flex;
  justify-content: space-between;
  background-color: green;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

#immagine-thumb {
  height: 250px;
  margin-left: 450px;
}

.spec-wrapper {
  display: flex;
  padding: 50px;
  justify-content: center;
}
.spec-wrapper .left-spec {
  width: 30%;
  margin-right: 50px;
}
.spec-wrapper .container-talent {
  display: flex;
  border-top: 1px solid black;
}